REDIS_PASSWORD = NO

ACCESS_TOKEN_EXPIRE_MIN = 60
REFRESH_TOKEN_EXPIRE_DAY = 30
JWT_KEY = NO

DB_USER = NO
DB_PASS = NO
DB_HOST = NO
DB_PORT = 5432
DB_NAME = echomess

SCHEMA = http
DOMAIN = localhost:81

EMAIL_USERNAME = NO
EMAIL_PASSWORD = NO
EMAIL_FROM = NO
EMAIL_SERVER = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_STARTTLS = true
EMAIL_SSL_TLS = false
EMAIL_TIMEOUT = 60

COOKIE_KEY = NO
