REDIS_PASSWORD = NO

ACCESS_TOKEN_EXPIRE_MIN = 60
REFRESH_TOKEN_EXPIRE_DAY = 30
JWT_KEY = NO

DB_USER = NO
DB_PASS = NO
DB_HOST = NO
DB_PORT = 5432
DB_NAME = echomess

SCHEMA = http
DOMAIN = localhost:81

EMAIL_FROM = ECHOMESS <noreply@example.com>
RESEND_API_KEY = re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

COOKIE_KEY = NO

DOMAIN_EMAIL = admin@example.com
